[submodule "django"]
	path = django
	url = https://github.com/infrastructure-playground/django.git
    branch = master
[submodule "angularjs"]
	path = angularjs
	url = https://github.com/infrastructure-playground/angularjs.git
    branch = master
[submodule "nginx"]
	path = nginx
	url = https://github.com/infrastructure-playground/nginx.git
    branch = master
[submodule "postgres"]
	path = postgres
	url = https://github.com/infrastructure-playground/postgres.git
