resources:
- name: {{ properties["bucketBackend"] }}
  type: storage.v1.bucket
  properties:
    storageClass: REGIONAL
    location: asia-east2
    cors:
    - origin: ["*"]
      method: [GET]
      responseHeader: [Content-Type]
      maxAgeSeconds: 3600
    defaultObjectAcl:
    - bucket: {{ properties["bucketBackend"] }}
      entity: allUsers
      role: READER
    - bucket: {{ properties["bucketBackend"] }}
      entity: user-$(ref.storage-buckets-backend-sa.email)
      email: $(ref.storage-buckets-backend-sa.email)
      role: OWNER
- name: {{ properties["bucketAdmin"] }}
  type: storage.v1.bucket
  properties:
    storageClass: REGIONAL
    location: asia-east2
    defaultObjectAcl:
    - bucket: {{ properties["bucketAdmin"] }}
      entity: allUsers
      role: READER
    - bucket: {{ properties["bucketAdmin"] }}
      entity: user-$(ref.storage-buckets-backend-sa.email)
      email: $(ref.storage-buckets-backend-sa.email)
      role: OWNER
- name: {{ properties["bucketSecrets"] }}
  type: storage.v1.bucket
  properties:
    storageClass: REGIONAL
    location: asia-east2
    defaultObjectAcl:
    - bucket: {{ properties["bucketSecrets"] }}
      entity: user-$(ref.storage-buckets-backend-sa.email)
      email: $(ref.storage-buckets-backend-sa.email)
      role: OWNER
    versioning:
     enabled: true
- name: {{ properties["bucketBackups"] }}
  type: storage.v1.bucket
  properties:
    storageClass: REGIONAL
    location: asia-east2
    defaultObjectAcl:
    - bucket: {{ properties["bucketBackups"] }}
      entity: user-$(ref.storage-buckets-backend-sa.email)
      email: $(ref.storage-buckets-backend-sa.email)
      role: OWNER
    lifecycle:
      rule:
      - action:
          type: SetStorageClass
          storageClass: COLDLINE
        condition:
          age: 30
          isLive: true